<div class="cart">
	<h1>Your Cart</h1>
</div>

<br>

<% total = 0 %>

<ul>
	<% @cart.each do | id, quantity | %>
		<% cafe = Cafe.find_by_id(id) %>

	<li>
		<p> <%= link_to image_tag(cafe[:mimg]) %> </p>
		<p> <%= cafe.desc %> </p>
		<p> <%= cafe.fprice %> </p>
		<p> Quantity: <%= quantity %> </p>
	</li>
		<% total += quantity * (cafe.price / 100) %> <br>
	<% end %>

	<% if total > 0 %>
		<h4><b> Cart Total: <%= number_to_currency(total, :unit => '$')  %> </b></h4>
	<% end %>

</ul>

<div id="emptycart">
	<%= link_to 'Empty Your Cart', cart_clear_path %>
</div>